
@media(max-width: 1139px) {
    .awesome__cards {
        justify-content: space-around;
    }
    .awesome__card {
        margin-bottom: 2rem;
    }
    .awesome__card:last-child {
        margin-bottom: 0;
    }
    .pricing__cards {
        justify-content: space-around;
    }
    .pricing__card {
        margin-bottom: 2rem;
    }
    .pricing__card:last-child {
        margin-bottom: 0;
    }
   
}

@media(max-width: 1050px) {
    html {
        font-size: 13px;
    }
    .tabs__image-block {
        display: none;
    }
    .tabs__container {
        justify-content: space-around;
    }
}

@media(max-width: 1000px) {
    .banner {
        padding: 2rem 0 2rem;        
    }
    .banner__container {
        text-align: center;
       flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .brand__description {
        margin-bottom: 2rem;
    }

    .banner__title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .banner__undertitle {
        margin: 0 auto 2rem;
    }
    .download {
        margin: 0 auto;
    }
    .banner__form {
       max-width: 100% ;
    }
    .social {
        margin-bottom: 2rem;
    }

    .customers {
        padding: 3rem 0;
    }
    .customers__cards {
        justify-content: space-around;
    }
    .customers__card {
        margin-bottom: 1rem;
    }
    .customers__card:last-child {
        margin-bottom: 0;
    } 
}

@media(max-width: 750px) {
    html {
        font-size: 12px;
    }
    .tabs__container {       
        flex-direction: column;
    }
    .tabs__switcher {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
    .tab-switch {
        margin-right: 0.5rem;
    }
    .tab-switch:last-child {
        margin-right: 0;
    }

    .tabs__tab {
        align-self: center;
    }

    .tab__content {
        margin-bottom: 1.5rem;
    }

    .tab__title {
        margin-bottom: 2rem;
    }
    .awesome, .pricing, .customers, .axure, .contact {
        padding: 3rem 0;
    }
    .section__header {
        margin-bottom: 2rem;
    }
}

@media (max-width: 700px){
    .social__content {
        margin-bottom: 1rem;
    }    
    .social__container {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    .title {
        margin-bottom: 2.5rem;
    }
    .title::after {
        margin: 1rem auto;
    }

}

@media (max-width: 580px) {
    html {
        font-size: 10px;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .burger-button {
        display: block;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;}@keyframes fade {
        from{opacity: 0.1;
        }to{opacity: 1;};    
    }

    .hidden {
        display: none;
    }

    .open {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000;
        margin: 7rem 0 2rem;
        font-size: 4rem;
    }

    .menu__item {
        margin-left: 0;
    }
    .social__item {
        margin-left: 1.5rem;
    }
    .social__item:first-child{
        margin-left: 0;
    }
    .form-title {
        margin-bottom: 2.5rem;
    }
    .form-label {
        margin-bottom: 0;
    }
    .contact__forms {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;    
    }
    .contact__form {
        width: 80%;
    }
}

