.pricing {
    padding: 80px 0 80px;
    background-color: #e5e5e5;
}



  .pricing__cards {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    text-align: center;
    margin: 0 -15px;

    }

.pricing__card {
    width: 340px;    
    margin: 0 15px;
    transition: all 0.5s;
  }

.pricing__card:hover {
    transform: translateY(-20px);
    
}

.card-header {

    background-color: #333333;
    color: #ffffff;
}

.card-name__text {
    line-height: 50px;
    font-weight: 700;
}



.card-price {
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
}
.card-price__text {
    line-height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.card-descript__link {
    display: block;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
    transition:  0.5s ;
}

.card-descript__link:hover {
    transform: scale(1.2);
    border-radius: 8px;
}

.card-descript__link:active {
    transform: scale(1.1);
    background-color: #f1b885;
}

.pricing__card:hover .card-descript__link{
    background-color: #D98943;
    color: #ffffff
}

.card-list-item {
    line-height: 40px;
    background-color: #ffffff;
    margin: 4px 0 4px;
    color: #86878B;
}