.social {
    background-color: #F8EFEF;
    padding: 14px 0 17px;
    margin-bottom: 100px;
}
.social__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.social__title {
    font-size: 1.4rem;
    font-weight: 700;
}

.social__text {
    max-width: 365px;
    color:#727274;
}

.social__list {
    display: flex;
    justify-content: space-between;
    min-width: 60%;    
    }

.social i {
    font-size: 3rem;
    color: #86878bbd;
    transition: all 0.5s;
}

.social i:hover {
    color: #ffaf68;
    transform: scale(1.3);
}