.header {
    padding: 20px 0 16px;
    background-color: #000000;
}
.navigation{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
   
}

.ax-logo {
    color: #FFFFFF;
}

.it-logo {
    color: #EC7979
}

.menu {
    min-width: 353px;
    display: flex;
    justify-content: space-between;
}
.menu__item-link {
    color: rgba(255,255,255,0.7);
}

.menu__item {
    transition: all 0.5s;

    border-bottom: 2px solid transparent;
}
.menu__item:hover {
    border-bottom: 2px solid rgba(255,255,255,0.7);
}


