.customers {
    padding: 80px 0 120px;
}

.customers__cards {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.customers__card {
    margin: 0 15px;
    max-width: 298px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers__feedback {
    position: relative;
    background-color: #e2e2e2;
    padding: 9px 22px 6px;
    color: #86878B;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 22px ;
}

.customers__feedback::after {
    content: "";
    position: absolute;
    left: 39px;
    width: 0;
    height: 0;
    border-top: 17px solid #e2e2e2;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    }

.customers__review {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customers__ident {
    text-align: right;
}

.customers__name {
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.customers__position {
    display: block;
    color: #86878B;
}

.portrait {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
  }