.header {
    background-color: #000000;
}
.navigation{
    padding: 20px 0 20px;
    margin-bottom: 108px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navigation__logo {
    font-size: 30px;   
}

.menu {
    min-width: 353px;
    display: flex;
    justify-content: space-between;
}
.menu__item-link {
    color: rgba(255,255,255,0.7);
}

.menu__item {
    transition: all 0.5s;

    border-bottom: 2px solid transparent;
}
.menu__item:hover {
    border-bottom: 2px solid rgba(255,255,255,0.7);
}

.banner__logo {
    font-size: 60px;
}

